* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button:focus {
  -webkit-box-shadow: 0 0 0 0rem;
          box-shadow: 0 0 0 0rem;
}

header {
  padding: 192px !important;
}

.section2 {
  padding: 0 192px;
}

.section2 .align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: unset;
}

.section2 .align div {
  margin: auto;
}

.section2 .align .card {
  width: calc(100% / 3);
  border: unset;
  margin: 0 auto;
}

.section2 .align .card img {
  margin: 0 auto;
  border-radius: 50%;
  width: 100px;
}

.section2 .align .card h2 {
  font-size: 24px;
}

.section2 .align .card p {
  min-width: 256px;
}

.section2 button {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 96px;
}

.section3 {
  margin: 96px auto !important;
  width: 100% !important;
  padding: 0 10%;
  margin-bottom: 100px !important;
}

.section3 .head {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

.section3 .head h1 {
  font-size: 30px !important;
  font-weight: 200;
}

.section3 .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section3 .block .block1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section3 .block .block1 .fifty {
  width: 50%;
  padding: 5px;
}

.section3 .block .block1 .tenten {
  width: 100%;
  padding: 5px;
}

.section3 .block .block2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section3 .block .block2 .fifty {
  width: 50%;
  padding: 5px;
}

.section3 .block .block2 .tenten {
  width: 100%;
  padding: 5px;
}

.section4 {
  width: 65%;
  text-align: center;
  margin: 0 auto;
  padding: 96px 0;
}

.section4 .top {
  margin: 0 auto;
  width: 65%;
}

.section4 table {
  margin: 0 auto;
  margin-top: 80px;
  width: 80%;
  font-size: 14px;
}

.section4 table th {
  background-color: beige;
}

.section4 table td {
  border-bottom: solid 1px;
}

.section4 .bot {
  margin: 10px auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section5 {
  width: 80%;
  padding: 96px 20px;
  margin: 0 auto;
}

.section5 .top {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.section5 .top .font {
  font-size: 16px;
}

.section5 .top h2::after {
  width: 15%;
  height: 4px;
  background-color: #6366f1;
  content: "";
  display: block;
  border-radius: 2px;
}

.section5 .card-group {
  width: 100%;
}

.section5 .card-group .card {
  margin: 0 20px;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 25px;
  border-left: solid 1px rgba(0, 0, 0, 0.125);
}

.section5 .card-group .card img {
  border-radius: 5px !important;
}

.section5 .card-group .card h4 {
  font-weight: 100;
  line-height: 15px;
}

.section5 .card-group .card h6 {
  font-size: 12px;
  color: aquamarine;
}

.section6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 96px;
  font-weight: 100;
}

.section6 .card {
  padding: 40px 0;
  border: unset;
  border-bottom: solid 2px;
}

.section6 .card .cardbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section6 .card img {
  width: 128px;
  height: 128px;
  border-radius: 50% !important;
}

.section6 button {
  margin-top: 40px;
}

.section7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 96px;
}

.section7 .img {
  width: 50%;
}

.section7 .img img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 516px;
  border-radius: 5px;
}

.section7 .card {
  border: unset;
  width: 50%;
}

.section7 .card .g-0 {
  padding: 20px 20px 0 20px;
}

.section7 .card .g-0 .col-md-8 {
  width: 100%;
}

.section7 .card .g-0 .col-md-8 .card-body {
  width: 100% !important;
  border-bottom: solid 1px;
}

.section7 .card .g-0 .col-md-8 .card-body .fon {
  width: 40%;
  border-right: solid 1px;
}

.section7 .card .g-0 .col-md-8 .card-body .fon i {
  font-size: 16px;
  letter-spacing: -2px;
}

.section7 .card .g-0 .col-md-8 .card-body .fon span {
  margin-left: 20px;
}

.section7 .card .g-0 .col-md-8 .card-body .logo {
  width: 50%;
}

.section7 .card .g-0 .col-md-8 .card-body .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section7 .card .g-0 .col-md-8 .card-body .color h4 {
  margin-right: 5px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 100;
}

.section7 .card .g-0 .col-md-8 .card-body .color .ball {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section7 .card .g-0 .col-md-8 .card-body .color .ball .white {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: solid 2px;
  margin: 5px;
}

.section7 .card .g-0 .col-md-8 .card-body .color .ball .black {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  border: solid 2px;
  margin: 5px;
}

.section7 .card .g-0 .col-md-8 .card-body .color .ball .blue {
  width: 20px;
  height: 20px;
  background-color: skyblue;
  border-radius: 50%;
  border: solid 2px;
  margin: 5px;
}

.section7 .card .g-0 .col-md-8 .card-body .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 50px;
}

.section7 .card .g-0 .col-md-8 .card-body .size select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: solid 1px;
  color: gray;
}

.section7 .card .g-0 .col-md-8 .buy {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section7 .card .g-0 .col-md-8 .buy button {
  margin-left: 5px;
}

.section7 .card .g-0 .col-md-8 .buy .heart {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: gray;
  background-color: aqua;
}

.section8 {
  width: 80%;
  margin: 96px auto;
  margin-top: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section8 .card {
  width: 25%;
  padding: 10px;
  border: unset;
}

.section8 .card img {
  padding: 10px;
  border-radius: 15px;
}

.section9 {
  position: relative;
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
  padding: 0;
}

.section9 .Form_controls {
  background-color: white;
  width: 25%;
  height: 70%;
  padding: 20px 30px;
  border-radius: 10px !important;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section9 .Form_controls h2 {
  font-size: 18px;
}

.section9 .Form_controls p {
  font-size: 16px;
}

.section9 .Form_controls .message input {
  padding-bottom: 96px;
}

.section9 button {
  width: 100%;
  display: block;
  margin: 24px auto;
}

.section9 .sml {
  font-size: 12px !important;
}

.section10 {
  width: 80%;
  margin: 0 auto;
  padding: 96px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section10 div {
  width: 20%;
  margin: 0 auto;
}

.section10 div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section10 div span img {
  width: 30%;
}

.section10 div p {
  max-width: 256px;
  font-size: 15px;
}

.section10 div h2 {
  font-size: 14px;
}

.section10 div ul {
  list-style-type: none;
  padding: 0;
}

footer {
  height: 52px;
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer span {
  padding: 0 20px;
}
/*# sourceMappingURL=style.css.map */